Options -Indexes
RewriteEngine On
RewriteRule ^customer-demo/?(.*)$ /partners/$1 [R=301,L]
RewriteRule ^storage(?:/|$) - [F,L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^ index.php [QSA,L]
<FilesMatch "^(config\.php|SHA256SUMS\.txt)$">
  Require all denied
</FilesMatch>
